{{ define "main" }}

<div class="flex justify-center items-center mt-4">
    <div class="">
        <div class="flex flex-col items-center">
            <div class="text-center max-w-4xl px-4" style="width: 60vw;">
                <h2 class="text-2xl text-gray mb-6 mt-10 renogare-font">Illuminating Threats, Guiding Defence</h2>
                <p class="text-lg text-gray">We offer expertise in a number of cyber security domains. We work to
                    identify cyber threats, improve your threat detection capabilities, and prepare your
                    business to effectively respond to potential cyber incidents. Our commitment is to improve the
                    security of your
                    technology, data and operations, increasing your businesses confidence in today's increasingly
                    complex threat landscape.
                    <br>We are based in Hobart, Tasmania serving Australia.
                </p>
            </div>

        </div>
        <h2 class="text-2xl text-gray mb-6 mt-10 text-center justify-center renogare-font">Services</h2>
        <div class="grid sm:grid-cols-3 grid-cols-1 gap-4 justify-items-center justify-center">
            <div
                class="bg-custom-gray-secondary border-2 border-custom-gray p-6 shadow-lg rounded flex flex-col items-center max-w-md">
                <i class="fa-solid fa-magnifying-glass text-gray mb-4 text-3xl"></i>
                <h2 class="text-2xl text-gray mb-4 text-center renogare-font">Lorem ipsum</h2>
                <p class="list-disc mx-5 text-sm text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <br>
                <ul class="list-disc mx-8 text-sm text-gray">
                    <li><strong>Item 1:</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat.</li>
                    <br>
                    <li><strong>Item 2:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur.</li>
                    <br>
                    <li><strong>Item 3:</strong> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum.</li>
                    <br>
                    <li><strong>Item 4:</strong> Nisi porta lorem mollis aliquam ut porttitor leo.</li>
                </ul>
            </div>

            <div
                class="bg-custom-gray-secondary border-2 border-custom-gray p-6 shadow-lg rounded flex flex-col items-center max-w-md">
                <i class="fa-solid fa-gears text-gray mb-4 text-3xl"></i>
                <h2 class="text-2xl text-gray mb-4 text-center renogare-font">Lorem ipsum</h2>
                <p class="list-disc mx-5 text-sm text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <br>
                <ul class="list-disc mx-8 text-sm text-gray">
                    <li><strong>Item 1:</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat.</li>
                    <br>
                    <li><strong>Item 2:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur.</li>
                    <br>
                    <li><strong>Item 3:</strong> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum.</li>
                    <br>
                    <li><strong>Item 4:</strong> Nisi porta lorem mollis aliquam ut porttitor leo.</li>
                </ul>
            </div>
            <div
                class="bg-custom-gray-secondary border-2 border-custom-gray p-6 shadow-lg rounded flex flex-col items-center max-w-md">
                <i class="fa-solid fa-book text-gray mb-4 text-3xl"></i>
                <h2 class="text-2xl text-gray mb-4 text-center renogare-font">Lorem ipsum</h2>
                <p class="list-disc mx-5 text-sm text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                <br>
                <ul class="list-disc mx-8 text-sm text-gray">
                    <li><strong>Item 1:</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat.</li>
                    <br>
                    <li><strong>Item 2:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur.</li>
                    <br>
                    <li><strong>Item 3:</strong> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia deserunt mollit anim id est laborum.</li>
                    <br>
                    <li><strong>Item 4:</strong> Nisi porta lorem mollis aliquam ut porttitor leo.</li>
                </ul>
            </div>
        </div>

        <div class="mb-4">
            <h2 class="text-2xl text-gray mb-6 mt-10 text-center renogare-font">Who Am I</h2>
            <div class="flex flex-col items-center">
                <img src="images/whoami.png" alt="James Pemberton" style="width: 200px; height: auto;">
                <br>
                <p class="list-disc text-gray"><b>James Pemberton / Cyber Security Consultant</b></p>
                <p class="list-disc text-gray"><a
                        href="https://www.giac.org/certified-professional/James-Pemberton/200142" target="_blank"
                        class="text-blue-500 hover:text-blue-800">GIAC Certified Forensic Analyst (GCFA)</a></p>
            </div>
        </div>
    </div>
    {{ end }}