{{ define "main" }}

<div class="flex justify-center items-center mt-4">
    <div class="">
        <div class="flex flex-col items-center">
            <div class="text-center max-w-4xl px-4 sm:w-3/5 w-4/5 mx-auto">
                <h2 class="text-2xl text-gray mb-6 mt-10 renogare-font">Illuminating Threats, Guiding Defence</h2>
                <p class="text-lg text-gray">We offer expertise in a number of cyber security domains, working to
                    shine light on cyber threats, improve threat detection capabilities, and prepare
                    businesses to effectively respond to potential cyber incidents. Our commitment is to improve the
                    security of your technology, data and operations, increasing your businesses confidence in today's
                    increasingly
                    complex threat landscape.
                </p>
            </div>

        </div>
        <h2 class="text-2xl text-gray mb-6 mt-10 text-center justify-center renogare-font">Services</h2>
        <div class="grid sm:grid-cols-3 grid-cols-1 space-x-1 gap-4 justify-items-center justify-center p-2">
            <div
                class="bg-custom-gray-secondary border-2 border-custom-gray p-6 shadow-lg rounded flex flex-col items-center max-w-md">
                <i class="fa-solid fa-magnifying-glass text-gray mb-4 text-3xl"></i>
                <h2 class="text-2xl text-gray mb-4 text-center renogare-font">Threat Hunting</h2>
                <p class="list-disc mx-5 text-sm text-gray">Our Threat Hunting service proactively searches your
                    business for existing, hidden and emerging cyber threats using methods
                    appropriate to your capabilities.</p>
                <br>
                <ul class="list-disc mx-8 text-sm text-gray">
                    <li><strong>Threat Discovery:</strong> We utilise methods aligned with the MITRE ATT&amp;CK
                        framework to identify potential threats across available data sources and systems.</li>
                    <br>
                    <li><strong>Review of Findings:</strong> The results are thoroughly reviewed for potential threats.
                        This includes a study of the threat's source, nature, and its existing or potential impact.</li>
                    <br>
                    <li><strong>Recommendations:</strong> We provide advice on enhancing your threat detection
                        capabilities by utilising the latest technologies and best practices.</li>
                    <br>
                    <li><strong>Final Report:</strong> You'll receive a report detailing identified threats or detection
                        gaps, as well as our recommendations to help your team effectively detect and manage potential
                        threats.</li>
                </ul>
            </div>

            <div
                class="bg-custom-gray-secondary border-2 border-custom-gray p-6 shadow-lg rounded flex flex-col items-center max-w-md">
                <i class="fa-solid fa-gears text-gray mb-4 text-3xl"></i>
                <h2 class="text-2xl text-gray mb-4 text-center renogare-font">Threat Detection Engineering</h2>
                <p class="list-disc mx-5 text-sm text-gray">Our Threat Detection Engineering service improves your
                    business's situational awareness and threat detection capabilities so that you can better identify
                    threats targeting your business.</p>
                <br>
                <ul class="list-disc mx-8 text-sm text-gray">
                    <li><strong>Data Review:</strong> We examine the data you're currently collecting and review it's
                        suitably for identifying threats relevant to your business.</li>
                    <br>
                    <li><strong>Alert System Review:</strong> We assess how your existing alert systems operate and
                        integrate into other systems to verify their effectiveness in detecting potential cyber threats.
                    </li>
                    <br>
                    <li><strong>Threat Monitoring Review:</strong> We analyse how the business currently identifies and
                        responds to threats, assessing the end-to-end effectiveness.</li>
                    <br>
                    <li><strong>Recommendations:</strong> We provide advice on improving your data collection, alert
                        configuration, and threat monitoring processes based on industry best practices.</li>
                    <br>
                    <li><strong>Final Report:</strong> You'll receive a report detailing our analysis, findings, and
                        actionable recommendations, enabling you to better understand how to protect your business from
                        threats.</li>
                </ul>
            </div>
            <div
                class="bg-custom-gray-secondary border-2 border-custom-gray p-6 shadow-lg rounded flex flex-col items-center max-w-md">
                <i class="fa-solid fa-book text-gray mb-4 text-3xl"></i>
                <h2 class="text-2xl text-gray mb-4 text-center renogare-font">Cyber Incident Preparedness</h2>
                <p class="list-disc mx-5 text-sm text-gray">Our Cyber Incident Preparedness service helps prepare your
                    business to respond more effectively to cyber threats, thereby giving you greater confidence in the
                    event of an incident.</p>
                <br>
                <ul class="list-disc mx-8 text-sm text-gray">
                    <li><strong>Process and Playbook Review:</strong> We examine your current capabilities and processes
                        for responding to cyber threats to determine their effectiveness.</li>
                    <br>
                    <li><strong>Technical Action Guide Review:</strong> We assess the effectiveness and integration of
                        existing playbooks and technical guides.</li>
                    <br>
                    <li><strong>Recommendations:</strong> We offer advice on improving your processes, playbooks,
                        technical guides, and integrations in line with industry best practices.</li>
                    <br>
                    <li><strong>Final Report:</strong> You'll receive a report detailing our analysis, findings, and
                        actionable recommendations, helping improve your business's response capabilities against cyber
                        threats.</li>
                </ul>
            </div>
        </div>

        <div class="mb-4">
            <h2 class="text-2xl text-gray mb-6 mt-10 text-center renogare-font">Who Am I</h2>
            <div class="flex flex-col items-center">
                <img src="images/whoami.png" alt="James Pemberton" style="width: 200px; height: auto;">
                <br>
                <p class="text-gray"><b>James Pemberton | Cyber Security Consultant</b></p>
                <p class="text-gray">
                    <a href="https://www.giac.org/certified-professional/James-Pemberton/200142" target="_blank"
                        class="text-gray">GIAC Certified Forensic Analyst (GCFA)</a>
                </p>

                <div class="flex justify-center w-full">
                    <div class="pr-2">
                        <a href="https://calendly.com/sigilite/30min" target="_blank" class="text-sm text-blue-500 hover:text-blue-800">Book a meeting</a>
                    </div>
                    <p class="text-gray">|</p>
                    <div class="pl-2">
                        <a href="https://www.linkedin.com/in/james-pemberton-630176118/" target="_blank" class="text-sm text-blue-500 hover:text-blue-800">Connect on LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {{ end }}