<header class="p-2 bg-custom-gray flex justify-between items-center fixed top-0 w-full">
    <a href="https://sigilite.com" class="flex items-center space-x-1">
        <img src="images/sigilte-logo-large-circle.png" alt="Sigilite Logo" class="w-16 h-auto">
        <h1 class="sm:text-2xl text-1xl text-white renogare-font">Sigilite Cyber Security</h1>
    </a>    
    <div class="flex items-center">
        <a href="https://www.linkedin.com/company/sigilite" target="_blank" rel="noopener noreferrer" class="flex items-center h-12 w-12 rounded">
            <i class="fa-brands fa-linkedin text-white sm:text-4xl text-3xl"></i>
        </a>
        <button id="contact-btn" class="flex items-center h-12 w-12 rounded">
            <i class="fa-solid fa-square-envelope text-white sm:text-4xl text-3xl"></i>
        </button>
    </div>
</header>

{{ partial "contact.html" . }}
